
* {
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 1%;
  }
  .img-responsive {
    width: 100%;
  }
  .img-curve {
    border-radius: 15px;
  }
  
  .text-right {
    text-align: right;
  }
  .text-center {
    text-align: center;
  }
  .text-left {
    text-align: left;
  }
  .text-white {
    color: rgb(0, 0, 0);
  }
  
  .clearfix {
    clear: both;
    float: none;
  }
  
  a {
    color: #5d9e5f;
    text-decoration: none;
  }
  a:hover {
    color: #5d9e5f;
  }
  
  .btn {
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
  }
  .btn-primary {
    background: none;
    border: 1px solid rgb(236, 194, 8);
    border-radius:15px;
    font-size: 17px;
    margin:0 15px;
    cursor: pointer;
    color:rgb(31, 34, 31);
    padding:1px 25px;
  }
  .btn-primary:hover {
    color: white;
    background-color: rgb(236, 194, 8);;
  }
  h2 {
    color: #2f3542;
    font-size: 2rem;
    margin-bottom: 2%;
  }
  h3 {
    font-size: 1.5rem;
  }
  .float-container {
    position: relative;
  }
 .float-text {
    position: absolute;
    bottom: 50px;
    left: 40%;
  }
 fieldset {
    border: 1px solid rgb(0, 0, 0);
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
  }
  
 .error {
    padding: 2%;
    color: red;
  }
 .success {
    padding: 2%;
    color: green;
  }
  

  
  .menu {
    line-height: 60px;
  }
  .menu ul {
    list-style-type: none;
  }
  
  .menu ul li {
    display: inline;
    padding: 1%;
    font-weight: bold;
  }
 
  
  .food-search {
    background-image: url(../images/fosyyyy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
  }
  
  .food-search input[type="search"] {
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
  }
  
  .food-search2 {

    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
  }
  
  .food-search2 input[type="search"] {
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
  }
  
  
  .box-3 {
    width: 28%;
    float: left;
    margin: 2%;
  }
  
  
  .navbar{
    position: fixed;
    top: 0; left: 0;
    z-index: 1000;
    height: 5%;
    width: 100%;
    background: #fff;
    padding-top: 20px;
    padding-bottom: 15px;
    box-shadow: 0 0 0.5rem rgb(179, 168, 168);
    display: flex;
    align-items: center;
    justify-content: right;
  }
  
  .navbar ul{
    position: relative;
    display: flex;
    padding-top: 0px;
  }
  
  .navbar ul li {
    position: relative;
    list-style: none;
  }
  .navbar ul li a{
    font-size: 17px;
    position:relative;
    display:inline-block;
    margin:0 15px;
    color:rgb(236, 194, 8);
    padding:10px 10px;
    text-decoration:none;
    border-radius:5px;
  }
  
  .navbar ul li a:hover{
    color:black;
  }
  
  section{
    height: 100vh;
    width: 97.5vw;
    display: flex;
  }
  
  
  
  #home #imeg{
    width:97.5vw;
    height:100vh;
    background:cover;
  }
  
  #home h3{
    position: absolute;
    padding-left: 5rem;
    padding-top: 10rem;
    color: #fff;
    font-size: 60px;
  }
  #home .container{
    position: absolute;
    padding-left: 5rem;
    padding-top: 25rem;
    margin-bottom:  10rem;
  
  }
  #home .container .sear{
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    width: 20rem;
    font-size: 1.2rem;
  }
  #home .container .btn_pri {
    color:#fff;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    font-size: 1.2rem;
    background-color:rgb(236, 194, 8) ;
  }
  #home .container .btn_pri:hover{
    background: white;
    color: rgb(236, 194, 8);
  }
  
  #order .row{
    background-color:white; 
    display: flex;
    margin: 8rem 5rem 2rem 5rem  ;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,3);
  }
  
  #order .row img{
    padding-left: 100px;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  #order .row form{
    padding-left: 50px;
    padding-top: 50px;
  }
  
  #order .row form .box {
    width: 30rem;
    margin-top: 10px;
    height: 37px;
    border: none;
    background-color: rgb(243, 233, 233);
  }
  
  #order .row form .ord{
    margin-top: 10px;
    width: 30rem;
    border: none;
    background-color: rgb(243, 233, 233);
  }
  
  #order .row form .btn{
    height: 37px;
    margin-top: 10px;
    width: 30rem;
    background: none;
    border: 1px solid rgb(236, 194, 8);
  }
  
  #order .row form .btn:hover{
    background: rgb(236, 194, 8);
    color: #fff;
  }
  
  #order .row form p{
    margin-left:12rem ;
    font-size: 20px;
    color: rgb(236, 194, 8);
    margin-bottom: 10px;
  }
  
  
.login{
  width:100vw;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.login .im{
width:100vw;
height:100vh;
  background: cover;
  background-image: url(http:\\localhost\web\images\5ad74b9dbc38a.jpg); 
}


.login form{
  padding:20px;
  position: absolute;
  border-radius: 5px;
  box-shadow: 0 5px 10px black;
  background: #fff;
  text-align: center;
  width: 360px;
}

.login form h3{
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #333;

}

.login form input{
  width:90%;
  padding: 10px 15px;
  font-size: 13px;
  margin: 8px 0;
  background: #fff;
  border-radius: 5px;
}


.login form .form_btm{
  background-color: #fff;
  color: rgb(236, 194, 8);
  text-transform: capitalize;
  width: 90%;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid rgb(236, 194, 8);

}
.login form .form_btm:hover{
  background-color: rgb(236, 194, 8);;
  color: #fff;
}
.login form p{
  margin-top: 20px;
  font-size: 19px;
  color: #333;

}
.login form p a{
  color: rgb(236, 194, 8);
  text-decoration: none;
}
  


.for{
  width:100vw;
  height:100vh;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.for .im{
  width:100vw;
  height:100vh;
  background: cover;
  background-image: url(http:\\localhost\web\images\5ad74b9dbc38a.jpg);
  
}




.for form{
  padding:20px;
  position: absolute;
  border-radius: 5px;
  box-shadow: 0 5px 10px black;
  background: #fff;
  text-align: center;
  width: 360px;
}

.for form h3{
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #333;

}

.for form input{
  width:90%;
  padding: 10px 15px;
  font-size: 13px;
  margin: 8px 0;
  background: #fff;
  border-radius: 5px;
}

.for form textarea {
  margin-top: 10px;
  width: 22rem;
  background-color: rgb(255, 255, 255);
}

.for form .form_btm{
  background-color: #fff;
  color: rgb(236, 194, 8);
  text-transform: capitalize;
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid rgb(236, 194, 8);

}
.for form .form_btm:hover{
  background-color: rgb(236, 194, 8);;
  color: #fff;
}
.for form p{
  margin-top: 20px;
  font-size: 19px;
  color: #333;

}
.for form p a{
  color: rgb(236, 194, 8);
  text-decoration: none;
}

.for form .error_msg{
  margin:10px 0;
  display: block;
  border-radius: 5px;
  font-size: 20px;

}
  
  
  .food-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
    
  }
  .food-menu-box {
    background: #fff;
    height: 21rem;
    width: 15rem;
    padding : 50px;
    margin: 25px;
    margin-left: 110px;
    border-radius: 1rem;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 2);
    text-align: center;
    float: left;
  
  }
  
  .food-menu .food-menu-box .food-menu-img {
    height: 100px;
    width: 220px;
    margin-left: 4%;
    object-fit: cover;
  
  }
  
  .food-menu-desc {
    width: 70%;
    float: left;
    margin-top: 60%;
    margin-left: 13%;
    
  }

  .food-menu-descc {
    width: 70%;
    float: left;
    margin-left: 13%;
    
  }
  
  .food-price {
    font-size: 1.2rem;
    margin: 2% 0;
    
  }
  
  .order {
    width: 50%;
    margin: 0 auto;
  }
  .input-responsive {
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: 1px solid;
    border-radius: 5px;
    font-size: 1rem;
  }
  .order-label {
    margin-bottom: 1%;
    font-weight: bold;
  }
